* {
  box-sizing: border-box; }



head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-size: contain;
}

.brookings {
opacity: .3;
}

.opener {
  position:absolute;
  font-size: 64px;
  color: #262626;
  left:0%;
  top:25%;
  width:100%;
}

title {
}

.top {
  position:relative;
  text-align: center;
}

.opener {
  text-align: center;
}

.button{
  position:absolute;
  font-size: 32px;
  color: #262626;
  left:0%;
  top:50%;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  margin-left: 47%;
  margin-right: 50%;
}

.mainmenu li {
 display:inline-block;
 padding-right: 40px;
 background-color:

}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: white;

}
.mainmenu {
  top: 0%;
  background-color:  #ff8080;
  border-style: solid;
  border-width: 1px;
}
.maintext {

}

.bodytitle{
  text-align: center;
  font-size: 40px;
}

.slogan {
text-align: center;;
}

.mainimages {
  margin-left: auto;
  margin-right: auto;
  with: 6em;
}
.findings {
  text-align: center;
}
.tool1 {
  color: black;
  background-color:#ff8080;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 33%;
  padding: 5px;
  margin-left: 33%;

}
.tool2 {
  color: black;
  background-color:#ff8080;

  width: 33%;
  padding: 5px;
  margin-left: 33%;
}

.topadvice {
  font-size: 48px;
  text-align: center;
}

.questions {
  text-align: center;
  font-size: 36px;
}
.hangout {
border-style:solid;
border-color: black;
width: 33%;
margin-left: 33%;
text-align: center;

}

.newone {
  text-align: center;
}

.party{
 margin-left: 31.5%;
 padding: 10px;
}
