* {
  box-sizing: border-box; }



head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-size: contain;
}

.brookings {
opacity: .3;
}

.opener {
  position:absolute;
  font-size: 64px;
  color: #262626;
  left:0%;
  top:25%;
  width:100%;
}

title {
}

.top {
  position:relative;
  text-align: center;
}

.opener {
  text-align: center;
}

.button{
  position:absolute;
  font-size: 32px;
  color: #262626;
  left:0%;
  top:50%;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
}

.mainmenu li {
 display:inline-block;
 padding-right: 40px;
 background-color:

}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: black;
}
.mainmenu {
  top: 0%;
  background-color:  #ff8080;
  border-style: solid;
  border-width: 1px;
}
.maintext {

}

.bodytitle{
  text-align: center;
}

.slogan {
text-align: center;;
}
